* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-bg-search-bar: #e5e5e5;
    --color-bg-body: #f8f9fa;
    --color-side-bar: #0f263d;
    --color-nav-bar: #1b72e8;
}
.wrapper{
    width: 100%;
    height: 100vh;
    
}
.debug{
    border: 1px black solid;
}
header{
    width: 100%;
    background-color:white;
    height: 60px;
}
main{
    height:calc(100% - 60px);
    width: 100%;
    display: flex;
    
}
#sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--color-side-bar);

}
#main-content{
    flex-grow: 1;
    overflow-y: auto;
}
#searchbar{
    background-color: var(--color-bg-search-bar);
    height: 35px;
    margin-top: 10px;
    width: 100%;
    position: relative;
}
#searchbar i{
    font-size: 1.2em;
    margin-top: 5px;
    margin-left: 5px;
    
    
}
.mylogom{
    width: 40px;
    
}
.inputsearch{
    border: none;
    background-color: var(--color-bg-search-bar);
    width:calc(100% - 30px);
    position: absolute;
    right: 0;
    
}
.inputsearch:focus{
    outline: none;
}
tr img{
    width: 22px;
    margin-right: 10px;
}
@media screen and (max-width: 992px){
  .mydsnone {
    display: none;
  }
}
.mypillcolor{
    background-color:#165BBA;
}
.breadcrumb-item:after {
    content: '>>';
    color: #ffffff; 
    
}

#offcanvasExample{
    width: 100%;
    max-width: 1000px;
}
.mylight:hover{
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    
}
.mybtn{
    background-color: transparent;
}
.myfs{
    font-size: 0.7em;
}
@media screen and (min-width: 992px){
    .myfs {
      font-size: 1em;
    }
}